spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/coursereg
    username: dev
    password: dev
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  flyway:
    enabled: false

server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger-ui/index.html
